/*-- scss:defaults --*/

$primary: #004C97 !default;
$font-size-root: 16px !default;

$callout-color-note: #6C6C6C;
$callout-color-tip: #96C0B7;
$callout-color-warning: #F49D6E;
$callout-color-important: #c1121f;

/*-- scss:rules --*/

.sidebar-title {
  color: #447ab1;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/* Headings ------------------------------------------------------ */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 0.5rem;
}

h1 {
  color: #447ab1;
  font-weight: normal;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #004C97;
}
h3 {
  margin-top: 1.5em;
  font-size: 1.2rem;
  font-weight: 500;
  color: #447ab1;
}
h4 {
  margin-top: 1.5em;
  font-size: 1.1rem;
  color: #447ab1;
}
h5 {
  margin-top: 1.5em;
  font-size: 1rem;
}

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* Code ------------------------------------------------ */

code {
  color: #373a3c;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}
